<% layout('./layout/boilerplate.ejs') -%>
<body>
  <div class="container my-4">
    <div class="row">
      <div class="col-4">

    <!-- Skills Filter Form -->
    <form action="/" method="GET">
      <h2>Filter by Skills</h2>
      <% for (let skill of allSkills) { %>
        <div class="form-check mt-2">
          <input 
            class="form-check-input" 
            type="checkbox" 
            name="skills" 
            value="<%= skill %>" 
            id="skill-<%= skill %>">
          <label class="form-check-label" for="skill-<%= skill %>">
            <%= skill %>
          </label>
        </div>
      <% } %>
      <button type="submit" class="btn btn-primary my-4">Filter</button> <a href="/" class="btn btn-secondary">Remove Filter</a>
    </form>
  </div>
  <div class="col">
    <h1>Job Listings</h1>
    <ul class="list-group">
      <% if (jobs.length > 0) { %>
        <% for (let job of jobs) { %>
          <a href="/job/<%= job._id %>" style="text-decoration: none;">
          <li class="list-group-item mt-4 ">
            <h3><%= job.title %></h3>
            <p><%= job.description %></p>
            <% for (let skill of job.skills) { %>
              <span class="badge bg-secondary"><%= skill %></span>
            <% } %>
          </li></a>
        <% } %>
      <% } else { %>
        <p>No jobs found for the selected skills.</p>
      <% } %>
    </ul></div>
  </div></div>
</body>
