<% layout('./layout/boilerplate.ejs') -%>
<body>
  <div class="container my-4">
    <div>
      <h1><%= job.title %></h1>
      <p><%= job.company %></p>

      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-workspace"
          viewBox="0 0 16 16"
        >
          <path
            d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
          />
          <path
            d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z"
          />
        </svg>
        <%= job.exp || "NA" %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-currency-rupee ms-4"
          viewBox="0 0 16 16"
        >
          <path
            d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"
          />
        </svg>
        <%= job.salary || "NA" %><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-geo-alt-fill ms-4"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
          />
        </svg>
        <%= job.location || "NA" %>
        
      </p>
      <hr />
    </div>
    <div class="my-4">
      <h4>Job Description</h4>
      <p><%= job.description%></p>
    </div>

    <div class="my-4">
      <h4>Skills Required</h4>
      <div class="d-flex">
        <% for(skill of job.skills){%>
        <p class="me-2 bg-dark text-white p-2 rounded"><%= skill %></p>
        <% } %>
      </div>
    </div>
    <hr />
    <% if (user && user.role === "jobSeeker") { %>
    <form action="/jobs/<%= job._id %>/apply" method="get">
      <button type="submit" class="btn btn-primary btn-lg my-4">
        Apply Now
      </button>
    </form>
    <% } else if (userAuth && user.role === "employer") { %>
    <form action="/employer/jobs/<%= job._id %>/applications" method="get">
      <button type="submit" class="btn btn-primary btn-lg my-4">
        View Applications
      </button>
    </form>
    <% } else { %>
    <p class="text-muted">
      Please <a href="/login">log in</a> as a job seeker to apply for this job.
    </p>
    <% } %>
  </div>
</body>
